@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    abrahao.oliveira.neto@gmail.com<br />
    Dev Abrahão Neto<br />
    <abbr title="Phone">P:</abbr>
    (21) 97166-0571
</address>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/abrahao-de-oliveira-sacramento-neto">
    https://www.linkedin.com/in/abrahao-de-oliveira-sacramento-neto</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/abrahao-neto">https://github.com/abrahao-neto</a>
</address>
